@media (max-width:1235px) {
    .Header {
        overflow-x: hidden;
    }

    .InnerContainer--WithoutPaddingTop {
        width: auto;
        padding: 0;
    }

    .SocialMedia-ColorPallet {
        justify-content: center;
    }

    .SocialMedia__List {
        display: none;
    }

    .ThemeSchemePicker__Fieldset--hidden {
        width: 30px;
        height: 82px;
        gap: 25px;
    }

    .ThemeSchemePicker__Input {
        width: 10px;
        height: 10px;
    }

    .ThemePackages {
        position: absolute;
        top: 0;
        left: 0;
    }

    .Navigation {
        height: 82px;
    }

    .NavMenu {
        width: 100%;
        align-items: flex-start;
    }

    .Logo {
        width: fit-content;
        margin-top: -4px;
        padding-top: 10px;
    }

    .Logo__Image {
        width: 56px;
        height: 32px;
    }

    .Logo_Text {
        margin-left: 3px;
        margin-top: 3px;
    }

    .Logo__Title {
        font-size: 25px;
    }

    .Logo__Description {
        font-size: 13px;
    }

    .Menu {
        display: none;
    }

    .Menu__Item {
        width: 100%;
    }

    .Menu__Links {
        width: 100%;
        text-align: center;
    }

    .BurgerMenu__Icon {
        opacity: 1;
    }

    .Menu {
        height: 100vh;
        background-color: var(--Color-MenuResponsive-Bg);
        padding: 0 50px 20px;
        opacity: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(100%, 0);
        z-index: 5;
        transition: 1s;
    }

    .BurgerMenu__Input--hidden:checked~.MenuContainer>.Menu {
        transform: translate(0, 0);
    }

    .SearchSection {
        position: absolute;
        top: 100%;
        right: 0;
        transform: translate(0, 50%);
    }

    .Slogan {
        padding: 0 40px;
    }


    .Slogan__text {
        margin: 50px 0;
    }


    .Slogan__Title--size-big {
        font-size: 1.5em;
    }

    .ContainerServices {
        flex-direction: column;
        height: auto;
        gap: 20px;
    }

    .MagicalBox {
        width: var(--Width-MagicBoxes-Responsive);
    }

    .InnerContainer--WithPaddingTopPart1 {
        height: auto;
        padding: 5px;
    }

    .InnerContainer--WithPaddingTopPart3 {
        padding: 30px 30px 100px 30px;
    }

    .OperateSection__Title {
        font-size: 28px;
    }

    .OperateSection__Desciption {
        font-size: 13px;
    }

    .SlideContent {
        height: 300px;
        padding: 30px;
        justify-content: space-around;
    }

    .SlideContent--CenterCenter {
        width: 100%;
        padding: 20px;
        border-radius: 10px;
        height: auto;
        gap: 20px;
    }

    .SlideContent__Number {
        font-size: 34px;
    }

    .SlideContent__NumberDescription {
        font-size: 13px;
    }

    .Paragraphcontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .SlideContent__firstP {
        font-size: 20px;
    }

    .SlideContent__SecondP {
        font-size: 13px;
    }

    .TripleBoxes__Title {
        font-family: ' open sans';
        font-size: 3.5em;
    }

    .OperateSection--First {
        margin-top: 20px;
    }

    .TripleBoxes {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .ContainerTripleCards {
        width: 100%;
        height: 1100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 150px;
        padding-top: 100px;
    }

    .TripleCards {
        width: 280px;
        height: 160px;
    }

    .TripleCards:hover {
        height: 380px;
    }

    .TripleCards__ImageBox {
        width: 115px;
        height: 115px;
    }

    .TripleCards:hover .TripleCards__ImageBox {
        width: 200px;
        height: 200px;
    }


    .TripleCards__ImageBox::before {
        width: 600px;
        height: 100px;
    }

    .TripleCards__Lines::before {
        width: 600px;
        height: 150px;
    }

    .TripleCards__PersonSkill {
        font-size: 0.7em;
    }

    .TripleCards__Btn {
        justify-content: center;
    }

    .SectionSixBoxes {
        gap: 5px;
    }

    .SectionSixBoxes__FirstRow,
    .SectionSixBoxes__SecondRow {
        flex-direction: column;
        gap: 20px;
    }

    .SlideContent--lessWidth {
        height: auto;
        padding: 20px 0;
    }

    .InnerContainer--WithPaddingTop--RowDirection {
        padding: 0;
        flex-direction: column;
        gap: 25px;
    }

    .FooterLinks {
        width: 100%;
    }

    .ContactList__LinksTitle--Hover {
        transform: translate(0, -70%);
    }
}



/* ----------------- Media 400px ----------------- */

@media (max-width:400px) {

    .Logo {
        width: fit-content;
        padding-top: 10px;
        margin-top: -3px;
        margin-left: 8px;
    }

    .Logo__Image {
        width: 48px;
        height: 28px;
    }

    .Logo_Text {
        margin-left: 3px;
    }

    .Logo__Title {
        font-size: 18px;
        margin-top: -6px;
    }

    .Logo__Description {
        font-size: 10px;
    }

    .SearchSection {
        transform: translate(18px, 50%);
    }

    .SearchSection__LabelSearchIcon {
        font-size: 1.2rem;
        margin-top: -4px;
    }

    .BurgerMenu__Icon {
        gap: 5px;
    }

    .BurgerMenu__Bar {
        width: 25px;
        height: 4px;
    }

    .ContactList {
        gap: 15px;
    }

    .ContactList__Links {
        width: 32px;
        height: 32px;
    }

    .SixCards
    {
        width: 300px;
        height: 400px ;
    }

    .SixCards__Icon 
    {
        top: 25%;
        right: 10px;
    }
}