@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

/*-------------------------- Styles --------------------------*/
@import url('./Common/Variable.css');
@import url('./Common/ThemeColorSelector.css');
@import url('./Common/Menu.css');
@import url('./Home/Header_index.css');
@import url('./Common/Buttons.css');
@import url('./Common/Footer.css');
@import url('./Responsive.css');



*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::selection {
    color: var(--Color-Selection-Text);
    background-color: var(--Color-Selection-Bg);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background: var(--Color-Body-Bg);
}

.Container {
    max-width: 1536px;
    margin: 0 auto;
    font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InnerContainer--WithoutPaddingTop {
    width: 95%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.InnerContainer--WithPaddingTop {
    width: 95%;
    padding: 130px 50px;
    display: flex;
    flex-direction: column;
}

.InnerContainer--WithPaddingTopPart1 {
    width: var(--Width-InnerContainer-Part1);
    background: var(--BgColor-InnerContainer-Part1);
    padding: 50px 50px 0px 50px;
    position: relative;
}

.InnerContainer--WithPaddingTopPart1::before {
    content: ' ';
    display: var(--Bg-MoonLight-Shadow);
    width: 58em;
    height: 58em;
    position: absolute;
    top: 1%;
    left: 19.5%;
    border-radius: 50%;
    background: linear-gradient(45deg, #031321, #fff67eb9);
    box-shadow: -7rem 7rem 56rem 3rem #fff67e56;
    opacity: 0.5;
    transition: 1s;
}


.InnerContainer--WithPaddingTopPart2 {
    background: var(--BgColor-InnerContainer-Part2);
    padding: 50px 50px;
    margin: 0 auto;
}

.InnerContainer--WithPaddingTopPart3 {
    padding: 50px 50px;
}

.main {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OperateSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.OperateSection__Title {
    width: 100%;
    color: var(--Color-OperateSectionTitle-Text);
    font-family: var(--FontFamily-OperateSectionTitle-Text);
    text-align: center;
    font-size: 50px;
    font-weight: 300;
}

.OperateSection__Desciption {
    width: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0.85em 0;
    color: var(--Color-OperateSectionDescription-Text);
    line-height: 1.65em;
}

.GoUp__Icon {
    position: fixed;
    top: 92%;
    right: 50px;
    width: 50px;
    height: 50px;
    background-color: #dedede;
    border-radius: 2px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.GoUp__Link {
    color: #b0b0b0;
    font-size: 22px;
}

.GoUp__Link:hover {
    color: #000;
}

.SeperatorIcon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.bx-diamond {
    font-size: 24px;
    color: #8a8a8a;
}

.SeperatorIcon__SpanIcon {
    width: fit-content;
    height: 27px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SeperatorIcon__SpanIcon::after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(107%, -50%);
    width: 100px;
    height: 1px;
    background-color: #8a8a8a;
}

.SeperatorIcon__SpanIcon::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-107%, -50%);
    width: 100px;
    height: 1px;
    background-color: #8a8a8a;
}


/***********  Start Of 3ple Cards  ***********/
.TripleBoxes {
    width: 100%;
    min-height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

.TripleBoxes__Title {
    position: relative;
    font-size: var(--FontSize-TripleBoxesTitle-Text);
    font-family: var(--FontFamily-TripleBoxesTitle-Text);
    font-weight: var(--FontWeight-TripleBoxesTitle-Text);
    color: var(--Color-TripleBoxesTitleAnimated-Text);
    -webkit-text-stroke: var(--WebStroke-TripleBoxesTitle-Text);
    text-transform: var(--TextTranform-TripleBoxesTitle-Text);
}

.TripleBoxes__Title::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: var(--ColorBefore-TripleBoxesTitle-Text);
    -webkit-text-stroke: var(--BeforeWebStroke-TripleBoxesTitle-Text);
    border-right: var(--BorderRight-TripleBoxesTitle-Text);
    overflow: var(--Overflow-TripleBoxesTitle-Text);
    animation: var(--Animationn-TripleBoxesTitle-Text);
}

@keyframes TripleBoxesTitle {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

.ContainerTripleCards {
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.TripleCards {
    position: relative;
    width: 350px;
    height: 190px;
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    transition: 0.5s;
}

.TripleCards:hover {
    height: var(--Height-TripleBoxesHover-BigBoxes);
}

.TripleCards__Lines {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.TripleCards__Lines--FirstBox {
    background: var(--ColorStaticBigBox-TripleBoxesFirst-Border);
}

.TripleCards__Lines--SecondBox {
    background: var(--ColorStaticBigBox-TripleBoxesSecond-Border);
}

.TripleCards__Lines--ThirdBox {
    background: var(--ColorStaticBigBox-TripleBoxesThird-Border);
}

.TripleCards__Lines::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    animation: AnimatedBorderBigBox 4s linear infinite;
}

.TripleCards__Lines--FirstBox::before {
    background: var(--ColorAnimatedBigBox-TripleBoxesFirst-Border);
}

.TripleCards__Lines--SecondBox::before {
    background: var(--ColorAnimatedBigBox-TripleBoxesSecond-Border);
}

.TripleCards__Lines--ThirdBox::before {
    background: var(--ColorAnimatedBigBox-TripleBoxesThird-Border);
}

@keyframes AnimatedBorderBigBox {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.TripleCards__Lines::after {
    content: ' ';
    position: absolute;
    inset: 3px;
}

.TripleCards__Lines--FirstBox::after {
    background-color: var(--ColorBigBox-TripleBoxesFirst-Bg);
}

.TripleCards__Lines--SecondBox::after {
    background-color: var(--ColorBigBox-TripleBoxesSecond-Bg);
}

.TripleCards__Lines--ThirdBox::after {
    background-color: var(--ColorBigBox-TripleBoxesThird-Bg);
}

.TripleCards__ImageBox {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}

.TripleCards__ImageBox--FirstBox {
    background: var(--ColorStaticSmallBox-TripleBoxesFirst-Border);
}

.TripleCards__ImageBox--SecondBox {
    background: var(--ColorStaticSmallBox-TripleBoxesSecond-Border);
}

.TripleCards__ImageBox--ThirdBox {
    background: var(--ColorStaticSmallBox-TripleBoxesThird-Border);
}


.TripleCards:hover .TripleCards__ImageBox {
    width: var(--Width-TripleBoxesHover-ImageBox);
    height: var(--Height-TripleBoxesHover-ImageBox);
}

.TripleCards__ImageBox::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    animation: PinkBorder 6s linear infinite;
}

.TripleCards__ImageBox--FirstBox::before {
    background: var(--ColorAnimatedSmallBox-TripleBoxesFirst-Border);
}


.TripleCards__ImageBox--SecondBox::before {
    background: var(--ColorAnimatedSmallBox-TripleBoxesSecond-Border);
}


.TripleCards__ImageBox--ThirdBox::before {
    background: var(--ColorAnimatedSmallBox-TripleBoxesThird-Border);
}

@keyframes PinkBorder {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.TripleCards__ImageBox::after {
    content: ' ';
    position: absolute;
    inset: 3px;
}

.TripleCards__ImageBox--FirstBox::after {
    background-color: var(--ColorSmallBox-TripleBoxesFirst-Bg);
}

.TripleCards__ImageBox--SecondBox::after {
    background-color: var(--ColorSmallBox-TripleBoxesSecond-Bg);
}

.TripleCards__ImageBox--ThirdBox::after {
    background-color: var(--ColorSmallBox-TripleBoxesThird-Bg);
}

.TripleCards__Image {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    filter: grayscale(1);
}

.TripleCards:hover .TripleCards__Image {
    filter: var(--Filter-TripleBoxes-GrayScale);
}

.TripleCards__Content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.TripleCards__Details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}

.TripleCards:hover .TripleCards__Details {
    transform: var(--Transform-TripleBoxes-Content);

}

.TripleCards__PersonName {
    font-size: 1.25em;
    font-weight: 600;
    color: #45f3ff;
    line-height: 1.2em;
}

.TripleCards__PersonName--FirstBox {
    color: var(--Color-TripleBoxesFirst-PersonName);
}

.TripleCards__PersonName--SecondBox {
    color: var(--Color-TripleBoxesSecond-PersonName);
}

.TripleCards__PersonName--ThirdBox {
    color: var(--Color-TripleBoxesThird-PersonName);
}

.TripleCards__PersonSkill {
    font-size: 0.75em;
    font-weight: 500;
    color: #fff;
}

.TripleCards__Data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.TripleCards__SocialNumber {
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 600;
}

.TripleCards__SocialNumber--FirstBox {
    color: var(--Color-TripleBoxesFirst-SocialNumber);
}

.TripleCards__SocialNumber--SecondBox {
    color: var(--Color-TripleBoxesSecond-SocialNumber);
}

.TripleCards__SocialNumber--ThirdBox {
    color: var(--Color-TripleBoxesThird-SocialNumber);
}


.TripleCards__Factor {
    font-size: 0.85em;
    font-weight: 400;
    color: #fff;
}

.TripleCards__Btn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.TripleCards__Button {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    color: #000;
    cursor: pointer;
    opacity: 0.9;
}

.TripleCards__Button--FirstBox {
    background-color: var(--BgColor-TripleBoxesFirst-Button);
}

.TripleCards__Button--SecondBox {
    background-color: var(--BgColor-TripleBoxesSecond-Button);
}

.TripleCards__Button--ThirdBox {
    background-color: var(--BgColor-TripleBoxesThird-Button);
}

.TripleCards__Button--WhiteColor {
    background-color: #fff;
}

.TripleCards__Button:hover {
    opacity: 1;
}

/************  EndOf 3ple Cards  ************/


.SlideContent {
    width: 100%;
    height: 235px;
    color: var(--Color-SlideContent-Text);
    background: var(--Color-SlideContent-Bg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.SlideContent--CenterCenter {
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.SlideContent__firstP {
    font-weight: 300;
    font-size: 27px;
    font-family: var(--FontFamily-SlideContentFirstP-Text);
}

.SlideContent__SecondP {
    margin-top: 4.5px;
    font-size: 15px;
    font-family: var(--FontFamily-SlideContentSecondP-Text);
}

.SlideContent__Link {
    color: #000;
    background-color: #fff;
    min-width: 139px;
    font-size: 13px;
    padding: 15px 30px 13px;
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
    display: var(--Display--SixCardsButton--UI1);
}


/*--------------Start Of SixBoxes--------------*/
.SectionSixBoxes {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.SectionSixBoxes__FirstRow,
.SectionSixBoxes__SecondRow {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.SixCards {
    width: 394px;
    height: 394px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.SixCards__FirstBox {
    background-color: var(--Color--SixBoxesFirst-Bg);
}

.SixCards__SecondBox {
    background-color: var(--Color--SixBoxesSecond-Bg);
}

.SixCards__ThirdBox {
    background-color: var(--Color--SixBoxesThird-Bg);
}

.SixCards__FourthBox {
    background-color: var(--Color--SixBoxesFourth-Bg);
}

.SixCards__FifthBox {
    background-color: var(--Color--SixBoxesFifth-Bg);
}

.SixCards__SixthBox {
    background-color: var(--Color--SixBoxesSixth-Bg);
}

.SixCards::before {
    content: ' ';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background-color: var(--Color-SixBoxesBefore-Bg);
    pointer-events: none;
}

.SixCards__Content {
    width: 90%;
    height: 90%;
    padding: 4%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.SixCards__Icon {
    position: var(--Position-SixCard-Icon);
    top: 26%;
    right: 40px;
    font-size: 4em;
    font-weight: 800;
    color: var(--Color-SixCard-Icon);
    z-index: 1;
    opacity: var(--Opacity-SixCard-Icon);
    transition: 0.5s;
}

.SixBoxes__FirstBoxIcon--Color {
    color: var(--Color-SixCardFirst-Icon);
}

.SixBoxes__SecondBoxIcon--Color {
    color: var(--Color-SixCardSecond-Icon);
}

.SixBoxes__ThirdBoxIcon--Color {
    color: var(--Color-SixCardThird-Icon);
}

.SixBoxes__FourthBoxIcon--Color {
    color: var(--Color-SixCardFourth-Icon);
}

.SixBoxes__FifthBoxIcon--Color {
    color: var(--Color-SixCardFifth-Icon);
}

.SixBoxes__SixthBoxIcon--Color {
    color: var(--Color-SixCardSixth-Icon);
}

.SixCards:hover .SixCards__Icon {
    opacity: 1;
    transform: var(--Transform-SixCardHover-Icon);
}

.SixCards__Title {
    position: relative;
    font-family: var(--FontFamily-SixCardsTitle-Text);
    font-size: var(--FontSize-SixCardsTitle-Text);
    font-weight: var(--FontWeight-SixCardsTitle-Text);
    color: var(--Color-SixCardsTitle-Text);
    z-index: 2;
    opacity: var(--Opacity-SixCardTitleandDescription-Text);
    letter-spacing: 1px;
    transition: 0.5s;
}

.SixCards__FirstCardTitle--Color {
    color: var(--Color-SixCardFirst-Title);
}

.SixCards__SecondCardTitle--Color {
    color: var(--Color-SixCardSecond-Title);
}

.SixCards__ThirdCardTitle--Color {
    color: var(--Color-SixCardThird-Title);
}

.SixCards__FourthCardTitle--Color {
    color: var(--Color-SixCardFourth-Title);
}

.SixCards__FifthCardTitle--Color {
    color: var(--Color-SixCardFifth-Title);
}

.SixCards__SixthCardTitle--Color {
    color: var(--Color-SixCardSixth-Title);
}

.SixCards__Desciption {
    position: relative;
    font-family: var(--FontFamily-SixCardsDescription-Text);
    font-size: var(--FontSize-SixCardsDescription-Text);
    font-weight: var(--FontWeight-SixCardsDescription-Text);
    color: var(--Color-SixCardsDescription-Text);
    z-index: 2;
    opacity: var(--Opacity-SixCardTitleandDescription-Text);
    letter-spacing: 1px;
    transition: 0.5s;
    margin-top: 20px;
}

.SixCards:hover .SixCards__Title,
.SixCards:hover .SixCards__Desciption {
    opacity: 1;
}

.SixCards__Link {
    display: var(--Display--SixCardsButton--UI1);
    font-weight: 500;
    color: #000;
    min-width: 139px;
    font-size: 13px;
    padding: 15px 30px 13px;
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    text-transform: uppercase;
}

.SixCards__Border {
    transition: 0.5s;
    opacity: 0;
}

.SixCards:hover .SixCards__Border {
    opacity: 1;
}

/* --- First Box --- */

.SixCards__Border--Top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--SnakeBorder-SixCards-Top);
    animation: SixCardsBorderTop 2s linear infinite;
}

.SixCards__Border--Right {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: var(--SnakeBorder-SixCards-Right);
    animation: SixCardsBorderRight 2s linear infinite;
    animation-delay: 1s;
}

.SixCards__Border--Bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: var(--SnakeBorder-SixCards-Bottom);
    animation: SixCardsBorderBottom 2s linear infinite;
}

.SixCards__Border--Left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: var(--SnakeBorder-SixCards-Left);
    animation: SixCardsBorderLeft 2s linear infinite;
    animation-delay: 1s;
}

@keyframes SixCardsBorderTop {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);

    }
}

@keyframes SixCardsBorderRight {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);

    }
}

@keyframes SixCardsBorderBottom {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);

    }
}

@keyframes SixCardsBorderLeft {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);

    }
}

/*-------------- End Of SixBoxes--------------*/



.SlideContent--lessWidth {
    width: 100%;
    height: 162px;
    color: var(--Color-SlideContentLessWidth-Text);
    background: var(--Color-SlideContentLessWidth-Bg);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--FontFamily-SlideContentLessWidth-Text);
}

.InnerContainer--WithPaddingTop--RowDirection {
    width: 95%;
    padding: 0px 110px;
    margin: 0px 37.987px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SlideContent__Number {
    font-size: 40px;
}

.SlideContent__NumberDescription {
    font-size: 15px;
}

.SlideContent__ColorSpan {
    opacity: 0.5;
    font-size: 0.8em;
}