@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('./Common/Variable.css');
@import url('./Common/ThemeColorSelector.css');
@import url('./Common/Menu.css');
@import url('./Home/Header_index.css');
@import url('./Common/Buttons.css');
@import url('./Common/Footer.css');
@import url('./Responsive.css');



*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    color: var(--Color-Selection-Text);
    background-color: var(--Color-Selection-Bg);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.Container {
    max-width: 1536px;
    margin: 0 auto;
    font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.InnerContainer--WithoutPaddingTop {
    width: 95%;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}

.InnerContainer--WithPaddingTop {
    width: 95%;
    padding: 130px 50px;
    display: flex;
    flex-direction: column;
}

.InnerContainer--WithPaddingTopPart1 {
    background: blue;
    padding: 50px 50px;
}

.InnerContainer--WithPaddingTopPart2 {
    background: purple;
}

.InnerContainer--WithPaddingTopPart3 {
    background: aqua;
}


.main {
    width: 100%;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.OperateSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.OperateSection__Title {
    width: 100%;
    color: #222222;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    /* background-color: gray; */
}

.OperateSection__Desciption {
    width: 100%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    /* background-color: pink; */
    margin: 0.85em 0;
    color: #383838;
    line-height: 1.65em;
}

.SeperatorIcon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 65px 0;
    /* background-color: #852727; */
}

.bx-diamond {
    font-size: 24px;
    color: #8a8a8a;
}

.SeperatorIcon__SpanIcon {
    width: fit-content;
    height: 27px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.SeperatorIcon__SpanIcon::after {
    content: ' ';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(107%, -50%);
    width: 100px;
    height: 1px;
    background-color: #8a8a8a;
}

.SeperatorIcon__SpanIcon::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-107%, -50%);
    width: 100px;
    height: 1px;
    background-color: #8a8a8a;
}



/***********  Start Of 3ple Cards  ***********/
.TripleBoxes {
    width: 100%;
    min-height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.TripleBoxes__Title {
    position: relative;
    margin-top: 20px;
    font-size: 4em;
    font-family: 'Roboto';
    /* color: #252839; */
    color: green;
    /* -webkit-text-stroke: 2px #383d52; */
    -webkit-text-stroke: 2px yellow;
    text-transform: uppercase;
}


.TripleBoxes__Title::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: var(--ColorBefore-TripleBoxesTitle-Text) ;
    -webkit-text-stroke: var(--BeforeWebStroke-TripleBoxesTitle-Text );
    border-right: var(--BorderRight-TripleBoxesTitle-Text);
    overflow: var(--Overflow-TripleBoxesTitle-Text);
    animation: var(--Animationn-TripleBoxesTitle-Text);
}

@keyframes TripleBoxesTitle {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}



.ContainerTripleCards {
    width: 100%;
    height: 560px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.TripleCards {
    position: relative;
    width: 350px;
    height: 190px;
    font-family: 'Poppins', sans-serif;
    background-color: #333;
    transition: 0.5s;
}

.TripleCards:hover {
    height: 450px;
}

.TripleCards__Lines {
    position: absolute;
    inset: 0;
    background-color: #000;
    overflow: hidden;
}

.TripleCards__Lines::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
    animation: AquaBorder 4s linear infinite;
}

@keyframes AquaBorder {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.TripleCards__Lines::after {
    content: ' ';
    position: absolute;
    inset: 3px;
    background-color: #292929;
}


.TripleCards__ImageBox {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background-color: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
}

.TripleCards:hover .TripleCards__ImageBox {
    width: 250px;
    height: 250px;
}

.TripleCards__ImageBox::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
    animation: PinkBorder 6s linear infinite;
}

@keyframes PinkBorder {
    0% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.TripleCards__ImageBox::after {
    content: ' ';
    position: absolute;
    inset: 3px;
    background-color: #292929;
}

.TripleCards__Image {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    filter: grayscale(1);
}

.TripleCards:hover .TripleCards__Image {
    filter: grayscale(0);
}

.TripleCards__Content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.TripleCards__Details {
    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}

.TripleCards:hover .TripleCards__Details {
    transform: translateY(0px);

}

.TripleCards__PersonName {
    font-size: 1.25em;
    font-weight: 600;
    color: #45f3ff;
    line-height: 1.2em;
}

.TripleCards__PersonSkill {
    font-size: 0.75em;
    font-weight: 500;
    color: #fff;
}

.TripleCards__Data {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.TripleCards__SocialNumber {
    font-size: 1em;
    color: #45f3ff;
    line-height: 1.2em;
    font-weight: 600;
}

.TripleCards__Factor {
    font-size: 0.85em;
    font-weight: 400;
    color: #fff;
}

.TripleCards__Btn {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.TripleCards__Button {
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background-color: #45f3ff;
    color: #222;
    cursor: pointer;
    opacity: 0.9;
}

.TripleCards__Button--WhiteColor {
    background-color: #fff;
}

.TripleCards__Button:hover {
    opacity: 1;
}

/************  EndOf 3ple Cards  ************/


.SlideContent {
    width: 100%;
    height: 235px;
    color: #fff;
    background-color: #1d5f8f;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SlideContent--CenterCenter {
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.SlideContent__firstP {
    font-weight: 300;
    font-size: 27px;
}

.SlideContent__SecondP {
    margin-top: 4.5px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
}

.SlideContent__Link {
    color: #000;
    background-color: #fff;
    min-width: 139px;
    font-size: 13px;
    padding: 15px 30px 13px;
    border-radius: 100px;
    font-family: 'Open Sans', sans-serif;
}



/*--------------Start Of SixthBoxes --------------*/

.SectionSixthBoxes {
    width: 100%;
    min-height: 100vh;
    background-color: #08001b;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.SectionSixthBoxes__FirstRow,
.SectionSixthBoxes__SecondRow {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .SectionSixthBoxes__FirstRow
{
    background-color: #4311b9;

}

.SectionSixthBoxes__SecondRow
{
    background-color: red;
} */

.SixthCards {
    width: 394px;
    height: 394px;
    position: relative;
    background-color: #0c002b;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.SixthCards::before {
    content: ' ';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.SixthCards__Content {
    width: 90%;
    height: 90%;
    padding: 4%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.SixthCards__Icon {
    position: absolute;
    top: 25%;
    right: 70px;
    font-size: 4em;
    font-weight: 800;
    color: #1779ff;
    z-index: 1;
    opacity: 0.1;
    transition: 0.5s;
}

.SixthCards:hover .SixthCards__Icon {
    opacity: 1;
    transform: translateY(-70px);
}

.SixthCards__Title {
    position: relative;
    font-size: 1.5em;
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5s;
}

.SixthCards__Desciption {
    position: relative;
    font-size: 1em;
    font-weight: 300;
    color: #fff;
    z-index: 2;
    opacity: 0.5;
    letter-spacing: 1px;
    transition: 0.5s;
    margin-top: 20px;
}

.SixthCards:hover .SixthCards__Title,
.SixthCards:hover .SixthCards__Desciption {
    opacity: 1;
}

.SixthCards__Link {
    display: inline-block;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 8px 15px;
    color: #0c002b;
    background-color: #fff;
    text-transform: uppercase;

}

.SixthCards__Border {
    transition: 0.5s;
    opacity: 0;
}

.SixthCards:hover .SixthCards__Border {
    opacity: 1;
}

.SixthCards__Border--Top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, #1779ff);
    animation: SixthCardsBorderTop 2s linear infinite;

}

.SixthCards__Border--Right {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #1779ff);
    animation: SixthCardsBorderRight 2s linear infinite;
    animation-delay: 1s;
}

.SixthCards__Border--Bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, transparent, #1779ff);
    animation: SixthCardsBorderBottom 2s linear infinite;
}

.SixthCards__Border--Left {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(to top, transparent, #1779ff);
    animation: SixthCardsBorderLeft 2s linear infinite;
    animation-delay: 1s;


}

@keyframes SixthCardsBorderTop {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);

    }
}

@keyframes SixthCardsBorderRight {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);

    }
}

@keyframes SixthCardsBorderBottom {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);

    }
}

@keyframes SixthCardsBorderLeft {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);

    }
}






/*-------------- End Of SixthBoxes --------------*/


.SlideContent--lessWidth {
    width: 100%;
    height: 162px;
    color: #fff;
    background-color: #084a79;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.InnerContainer--WithPaddingTop--RowDirection {
    width: 95%;
    padding: 0px 110px;
    margin: 0px 37.987px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SlideContent__Number {
    font-size: 40px;
}

.SlideContent__NumberDescription {
    font-size: 15px;
}

.SlideContent__ColorSpan {
    opacity: 0.5;
    font-size: 0.8em;
}