:root {

    /* --- Body --- */
    --Color-Body-Bg: #fff;


    /* --- Pseudo Selection --- */
    --Color-Selection-Text: #fff;
    --Color-Selection-Bg: #084a79;


    /* --- Social Media --- */
    --Color-SocialMedia-Bg: #084a79;
    --Color-SocialMedia-Text: #fff;
    --Color-SocialMedia-Border: #073e63;


    /* --- Theme Picker --- */
    --Color-ThemePalettIcon-Text: #fff;
    --Color-ThemePalettIconHover-Text: #fff;
    --Color-ThemePalettIconHover-Bg: #084a79;
    --Color-ThemeSchemePicker-Bg: #2c79b0;


    /* --- Navigation Bar --- */
    --Color-Navigation-Bg: #fff;

    /* -------- Logo -------- */
    --Color-StrokeLogoBorder-Text: #000 1px;
    --Color-StrokeLogoFill-Text: #000;
    --Radius-ImageLogo-Border: 0px;
    --Color-DescLogo-Text: #c9c9c9;

    /* ------- Menu ------- */
    --Color-MenuLinks-Text: #c9c9c9;
    --Color-MenuLinksHover-Text: #000;
    --Color-MenuLinksHover-Bg: #fff;
    --Color-MenuLinksHover-Border: #fff;
    --Color-MenuLinksHover-Shadow: none;
    --Transition-MenuLinksHover-Delay: 0s;
    --Color-MenuLinksLinear-Top: linear-gradient(90deg, transparent, #fff);
    --Color-MenuLinksLinear-Right: linear-gradient(180deg, transparent, #fff);
    --Color-MenuLinksLinear-Bottom: linear-gradient(270deg, transparent, #fff);
    --Color-MenuLinksLinear-Left: linear-gradient(360deg, transparent, #fff);
    --Color-MenuLinksStaticHover-Text: #fff;
    --Color-MenuLinksStaticHover-Bg: #084a79;
    --Color-MenuResponsive-Bg: #fff;


    /* --- SearchBox Section --- */
    --Color-SearchIcon-Text: #c9c9c9;
    --Color-SearchIconHover-Text: #000;
    --Color-SearchBox-Bg: #fff;
    --Radius-SearchBox-Border: 0px;
    --Color-SearchBox-Shadow: rgb(169, 169, 169);
    --Color-SearchBoxAfter-Bg: #fff;
    --Color-SearchPlaceHoder-Text: #c9c9c9;
    --Color-InputSearch-Border: #e1e1e1;
    --Color-SearchIcon2-Text: #fff;
    --Color-SearchIcon2-Bg: #084a79;

    /* ----- Buerger Menu ----- */
    --Color-BurgerIcon-Bg: #084a79;


    /* ------------------ Start Of Slogan Complex ------------------ */
    --Color-SloganTitle-Text: #fff;
    --FontSize-SloganTitle-Text: 5vw;
    --FontWeight-SloganTitle-Text: 300;
    --FontFamily-SloganTitle-Text: 'Cormorant Garamond', serif;
    --Color-LinearSlogan-Bg: linear-gradient(315deg, rgba(8, 74, 121, 0.6), rgba(8, 74, 121, 0.6));

    /*--- ContainerServices ---*/
    --Height-ContainerServices: 275px;
    --Justify-ContainerServices: space-between;
    --Padding-ContainerServices: 0;

    /* --- Magic Boxes --- */
    --Width--MagicBox: 33.33333%;
    --Height--MagicBox: 100%;
    --Padding--MagicBox: 0;
    --Margin--MagicBox: 0;

    --Width-MagicBoxes-Before: 0;
    --Height-MagicBoxes-Before: 0;

    --Width-MagicBoxes-After: 0;
    --Height-MagicBoxes-After: 0;

    --Color--MagicBox1-Bg: linear-gradient(45deg, #fff, #fff);
    --Color--MagicBox2-Bg: linear-gradient(45deg, #094978, #105e96);
    --Color--MagicBox3-Bg: linear-gradient(45deg, #072f4c, #0c4771);

    --Width-MagicBoxesDoubleSqure-Before: 0;
    --Height-MagicBoxesDoubleSqure-Before: 0;

    --Width-MagicBoxesDoubleSqureHover-Before: 0;
    --Height-MagicBoxesDoubleSqureHover-Before: 0;

    --Width-MagicBoxesDoubleSqure-After: 0;
    --Height-MagicBoxesDoubleSqure-After: 0;

    --Width-MagicBoxesDoubleSqureHover-After: 0;
    --Height-MagicBoxesDoubleSqureHover-After: 0;

    --Left-MagicBoxHover-Content: 0;
    --Padding-MagicBoxesHover-Content: 56px 40px;

    /* --- Magic Boxes Content --- */
    --Width-MagicBoxes-Content: 447px;
    --Height-MagicBoxes-Content: 272.2px;

    --Width-MagicBoxes-Responsive: 100%;

    --Padding-MagicBoxes-Content: 56px 40px;
    --BorderRaduis-MagicBoxes-Content: 0;
    --BorderRaduis-MagicBoxesHover-Content: 0;
    --BgColor--MagicBoxesHover1-Content: #fff;
    --BgColor--MagicBoxesHover2-Content: #1d5f8f;
    --BgColor--MagicBoxesHover3-Content: #084a79;

    --BgColor-MagicBox1-Content: #fff;
    --BgColor-MagicBox2-Content: #1d5f8f;
    --BgColor-MagicBox3-Content: #084a79;

    --Color-MagicBox1-Title: #383838;
    --Color-MagicBox2-Title: #fff;
    --Color-MagicBox3-Title: #fff;

    --Color-MagicBox1-Text: #383838;
    --Color-MagicBox2-Text: #fff;
    --Color-MagicBox3-Text: #fff;

    --Color-MagicBox1hover-Text: #383838;
    --Color-MagicBox2hover-Text: #fff;
    --Color-MagicBox3hover-Text: #fff;

    /*-- Magic Links Btn --*/
    --Color-MagicBoxBtn1-Text: #fff;
    --Color-MagicBoxBtn2-Text: #000;
    --Color-MagicBoxBtn3-Text: #000;

    --Color-MagicBoxBtn1-Bg: #084a79;
    --Color-MagicBoxBtn2-Bg: #fff;
    --Color-MagicBoxBtn3-Bg: #fff;
    /* ------------------- End Of Slogan Complex ------------------ */



    /*-------------------- Start Of TripleBoxes --------------------*/
    --BgColor-InnerContainer-Part1: none;
    --Width-InnerContainer-Part1: 95%;
    --BgColor-InnerContainer-Part2: none;
    --Bg-MoonLight-Shadow: none;


    /* --- Title --- */
    --Color-TripleBoxesTitleAnimated-Text: #222222;
    --WebStroke-TripleBoxesTitle-Text: 0px #222222;
    --FontFamily-TripleBoxesTitle-Text: 'Cormorant Garamond', serif;
    --FontSize-TripleBoxesTitle-Text: 50px;
    --FontWeight-TripleBoxesTitle-Text: 300;
    --TextTranform-TripleBoxesTitle-Text: capitalize;


    --BorderRight-TripleBoxesTitle-Text: none;
    --Overflow-TripleBoxesTitle-Text: visible;
    --ColorBefore-TripleBoxesTitle-Text: none;
    --BeforeWebStroke-TripleBoxesTitle-Text: 0px transparent;
    --Animationn-TripleBoxesTitle-Text: none;


    /* --- Common --- */
    --Transform-TripleBoxes-Content: translateY(145px);
    --Filter-TripleBoxes-GrayScale: grayscale(1);
    --Width-TripleBoxesHover-ImageBox: 150px;
    --Height-TripleBoxesHover-ImageBox: 150px;
    --Height-TripleBoxesHover-BigBoxes: 190px;



    /* --- First Box --- */
    --ColorAnimatedBigBox-TripleBoxesFirst-Border: linear-gradient(transparent, transparent, transparent, transparent, transparent);
    --ColorStaticBigBox-TripleBoxesFirst-Border: #072f4c;
    --ColorBigBox-TripleBoxesFirst-Bg: #072f4c;

    --ColorAnimatedSmallBox-TripleBoxesFirst-Border: linear-gradient(transparent, transparent, transparent, transparent, transparent);
    --ColorStaticSmallBox-TripleBoxesFirst-Border: #072f4c;
    --ColorSmallBox-TripleBoxesFirst-Bg: #072f4c;

    --Color-TripleBoxesFirst-PersonName: #fff;
    --Color-TripleBoxesFirst-SocialNumber: #fff;


    /* --- Second Box --- */
    --ColorAnimatedBigBox-TripleBoxesSecond-Border: linear-gradient(transparent, transparent, transparent, transparent, transparent);
    --ColorStaticBigBox-TripleBoxesSecond-Border: #0c5387;
    --ColorBigBox-TripleBoxesSecond-Bg: #0c5387;

    --ColorAnimatedSmallBox-TripleBoxesSecond-Border: linear-gradient(transparent, transparent, transparent, transparent, transparent);
    --ColorStaticSmallBox-TripleBoxesSecond-Border: #0c5387;
    --ColorSmallBox-TripleBoxesSecond-Bg: #0c5387;

    --Color-TripleBoxesSecond-PersonName: #fff;
    --Color-TripleBoxesFirst-SocialNumber: #fff;


    /* --- Third Box --- */
    --ColorAnimatedBigBox-TripleBoxesThird-Border: linear-gradient(transparent, transparent, transparent, transparent, transparent);
    --ColorStaticBigBox-TripleBoxesThird-Border: #072f4c;
    --ColorBigBox-TripleBoxesThird-Bg: #072f4c;

    --ColorAnimatedSmallBox-TripleBoxesThird-Border: linear-gradient(transparent, transparent, transparent, transparent, transparent);
    --ColorStaticSmallBox-TripleBoxesThird-Border: #072f4c;
    --ColorSmallBox-TripleBoxesThird-Bg: #072f4c;

    --Color-TripleBoxesThird-PersonName: #fff;
    --Color-TripleBoxesFirst-SocialNumber: #fff;
    /*--------------------- End Of TripleBoxes --------------------*/


    /*------------------- Start Of Slide Content ------------------*/
    --Color-SlideContent-Bg: #084a79;
    --Color-SlideContent-Text: #fff;
    --FontFamily-SlideContentFirstP-Text: 'Cormorant Garamond', serif;
    --FontFamily-SlideContentSecondP-Text: 'Open Sans', sans-serif;
    /*-------------------- End Of Slide Content -------------------*/


    /*-------------------- Start Of SixthBoxes --------------------*/
    /* --- Common --- */
    --Color-SixBoxesBefore-Bg: none;
    --Position-SixCard-Icon: static;
    --Color-SixCard-Icon: #fff;
    --Opacity-SixCard-Icon: 1;
    --Transform-SixCardHover-Icon: translateY(0px);
    --Opacity-SixCardTitleandDescription-Text: 1;
    --FontFamily-SixCardsTitle-Text: 'Cormorant Garamond', serif;
    --FontFamily-SixCardsDescription-Text: 'Open Sans', sans-serif;

    --Color-SixCardsTitle-Text: #fff;
    --Color-SixCardsDescription-Text: #fff;

    --FontSize-SixCardsTitle-Text: 1.8em;
    --FontSize-SixCardsDescription-Text: 1em;
    --FontWeight-SixCardsTitle-Text: 300;
    --FontWeight-SixCardsDescription-Text: 400;

    --Display--SixCardsButton--UI1: inline-block;
    --Display--SixCardsButton--UI2: none;

    --SnakeBorder-SixCards-Top: linear-gradient(to right, transparent, transparent);
    --SnakeBorder-SixCards-Right: linear-gradient(to bottom, transparent, transparent);
    --SnakeBorder-SixCards-Bottom: linear-gradient(to left, transparent, transparent);
    --SnakeBorder-SixCards-Left: linear-gradient(to Top, transparent, transparent);


    /* --- First Box --- */
    --Color--SixBoxesFirst-Bg: #072f4c;
    --Color-SixCardFirst-Icon: #fff;
    --Color-SixCardFirst-Title: #fff;

    /* --- Second Box --- */
    --Color--SixBoxesSecond-Bg: #0c5387;
    --Color-SixCardSecond-Icon: #fff;
    --Color-SixCardSecond-Title: #fff;

    /* --- Third Box --- */
    --Color--SixBoxesThird-Bg: #072f4c;
    --Color-SixCardThird-Icon: #fff;
    --Color-SixCardThird-Title: #fff;

    /* --- Fourth Box --- */
    --Color--SixBoxesFourth-Bg: #0c5387;
    --Color-SixCardFourth-Icon: #fff;
    --Color-SixCardFourth-Title: #fff;

    /* --- Fifth Box --- */
    --Color--SixBoxesFifth-Bg: #072f4c;
    --Color-SixCardFifth-Icon: #fff;
    --Color-SixCardFifth-Title: #fff;

    /* --- Sixth Box --- */
    --Color--SixBoxesSixth-Bg: #0c5387;
    --Color-SixCardSixth-Icon: #fff;
    --Color-SixCardSixth-Title: #fff;
    /*--------------------- End Of SixthBoxes --------------------*/


    /* ------- Start Of OperateSection ------- */

    --Color-OperateSectionTitle-Text: #222222;
    --FontFamily-OperateSectionTitle-Text: 'Cormorant Garamond', serif;
    --Color-OperateSectionDescription-Text: #b0b0b0;

    /* ------- End Of OperateSection ------- */



    /* --- Start Of SlideContentLessWidth --- */

    --Color-SlideContentLessWidth-Text: #fff;
    --Color-SlideContentLessWidth-Bg: #084a79;
    --FontFamily-SlideContentLessWidth-Text: 'Open Sans', sans-serif;

    /* ---- End Of SlideContentLessWidth ---- */


    /*--------------------- Start Of Footer ---------------------*/
    --Color-ContactStrong-Text: #084a79;
    --Color-FooterLinksCopyright-Text: #084a79;
    --Color-FooterLinksCopyrightHover-Text: #000;
    --Color-ContactLinksFirst-Bg: #084a79;
    --Color-ContactLinksSecond-Bg: #084a79;
    --Color-ContactLinksThird-Bg: #084a79;
    --Color-ContactLinksFourth-Bg: #084a79;
    --Color-ContactLinksFifth-Bg: #084a79;
    --Color-ContactLinksSixth-Bg: #084a79;
    /*---------------------- End Of Footer ----------------------*/

}